basePath: /
host: localhost:8080
info:
  contact: {}
  description: This is a backend API for Paraklit Shop.
  title: Paraklit Shop API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
